.grid{
    display:grid;
    margin-top:2rem;
    gap:1rem;
    grid-template-columns:repeat(5, minmax(160px, 1fr)) auto;
}
.grid .card {
    padding:2rem;
    box-shadow:0 0 5px rgba(0,0,0,0.35);
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    border-radius:10px;
    cursor:pointer;
}
.grid .card img{
    width:80px;
}
.grid .card .card-description{
    color:#ababab;
    margin-top:1rem;
    font-size:1.6rem;
}
.property .card .card-title{
    font-size:1.8rem;
}

@media(max-width:888px){
    .grid{
        display:grid;
        margin-top:2rem;
        gap:1rem;
        grid-template-columns:repeat(3,1fr);
    }
}
@media(max-width:520px){
    .grid{
        display:grid;
        margin-top:2rem;
        gap:1rem;
        grid-template-columns:repeat(2,1fr);
    }
}
@media(max-width:308px){
    .grid{
        display:grid;
        margin-top:2rem;
        gap:1rem;
        grid-template-columns:repeat(1,1fr);
    }
}

