.search-wrapper {
  width: 100%;
}
.search-wrapper {
  width: 100%;
  display: flex;
  margin-top: 3rem;
  position: relative;
}
.search-wrapper input {
  height: 40px;
  border: none;
}
.search-wrapper .search {
  flex-basis: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-right: none;
  outline: none;
  font-size: 1.4rem;
}
.submit-button {
  flex-basis: 20%;
  color: #fff;
  cursor: pointer;
  transition: All 0.5ms;
  font-weight: 600px;
  background: var(--orange-colors);
}
.submit-button:hover {
  transform: scale(1.1);
}
.filter-container {
  position: absolute;
  top: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  background: var(--color-white);
  z-index: 9;
  max-height: 300px;
  display: none;
  overflow-y: scroll;
}
.filter-container.active {
  display: initial;
}
.filter-container p {
  font-size: 1.5rem;
}

@media(max-width:400px){
    .search_container{
        margin-top:8rem;
    }
}

