@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
:root{
  --color-white:#fff;
  --awards-bg:#122947;
  --awards-heading:#27ae60;
  --orange-colors:#ff6922;
}
html{
  font-size:62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
.a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding:0 2rem;
}
img {
  width: 100%;
}
.flex-apart {
  display:flex;
  justify-content:space-between;
  align-items: center;
  text-align: center;
  align-items: center;
}
.btn {
  padding: 0.6rem 1.5rem;
  border: none;
  background:var(--awards-heading);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.higher-title {
  font-size: 4rem;
  text-transform: capitalize;
  line-height: 1.5;
}
.title {
  font-size:4rem;
  text-transform: capitalize;
  text-align: center;
  margin-top:3rem;
}
.subtitle {
  text-transform:capitalize;
  text-align: center;
  font-size:1.8rem;
  color:#ababab;
}
.flex{
  display:flex;
  justify-content:space-between;

}
.small-title{
  text-align:center;
  font-size:1.7rem;
  color:var(--awards-heading);
}
.custom-btn{
  border:none;
  background:var(--orange-colors);
  padding:1.4rem 3rem;
  border-radius:30px;
  font-weight:600;
  color:var(--color-white);
  cursor:pointer;
  transition:all 0.5s;
  border:2px solid var(--orange-colors);
}
.custom-btn:hover{
  background:transparent;
  color:var(--orange-colors)

}

@media(max-width:670px){
  html{
    font-size:56.78%;
  }
}

@media(max-width:435px){
  html{
    font-size:46.78%;
  }
}


